.contact{
    height: 100%;
    padding-top: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(
            to right, /*THIS DIRECTS THE DIRECTION YOU WANT THE GRADIENT TO BE*/
            rgba($back-color, 0.9),
            rgba($back-color, 0.3)
        ),
        url('../images/background.jpg') center top;
        background-size: cover;

    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .contact_text{
        color: $primary-color;
    }

    &_List{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        font-size: 1.4rem;
    }

    .social-icons{
        position: initial;
        margin-top: 2rem;
    }

}